.home-avatar {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
}

.home {
    width: 80%;
    margin: 0 auto;
}

.home-line1,
.home-line2 {
  display: flex;
  margin-bottom: 50px;
}

.home-line1-left,
.home-line2-left {
  width: 50%;
}