.projects-breads{
    margin: 1em 1em 1em 0;
}
.projects-left{
    flex: 270px;
}
.projects-timeline{
    margin-top: 50px;
    width: 270px;
    position: sticky;
    top: 120px;
}
.projects-line-text{
    color: black;
    font-weight: bold;
}

.projects-right{
    flex: auto;
}
.projects-row{
    flex-flow: nowrap;
}
.projects-right h1:before{
    content: " ";
    margin-top: -80px;
    height: 80px;
    display: block;
}

.projects-xiang-avatar{
    width: 150px;
    height: 150px;
}
.basic-info-left-col{
    margin: auto;
}
.skill-title{
    font-weight: bold;
    font-size: 1.2em;
}
.company-icon{
    width: 30px;
    height: 30px;
}
.company-icon-p7{
    width: 60px;
    height: 30px;
}
.exp-head{
    display: flex;
    align-items: center;
}
.time-text{
    margin-left: 20px;
}
.exp-title{
    font-weight: bold;
    font-size: 1.2em;
}
.black{
    color: black;
    font-size: 1.2em;
}
.key-word{
    font-weight: bold;
    font-size: 0.8em;
}
.ant-divider-horizontal.ant-divider-with-text::before {
    border-block-start-color: blue;
}
.ant-divider-horizontal.ant-divider-with-text::after{
    border-block-start-color: blue;
}

@media (max-width: 800px) {
    .projects-xiang-avatar{
        width: 100px;
        height: 100px;
    }
    .skill-title{
        font-size: 1.1em;
    }
    .skill-badge{
        width: 30%;
        height:30%;
    }
}
  