html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pages-breads{
  margin: 1em 1em 1em 0;
}
.pages-row{
  flex-flow: nowrap;
}
.pages-left{
  flex: 270px;
}
.pages-timeline{
  margin-top: 50px;
  width: 270px;
  position: sticky;
  top: 120px;
}
.pages-line-text{
  color: black;
  font-weight: bold;
}

.pages-right{
  flex: auto;
}

.pages-right h2:before{
  content: " ";
  margin-top: -80px;
  height: 80px;
  display: block;
}

.pages-xiang-avatar{
  width: 150px;
  height: 150px;
}

.bg-linear-bk {
  background: -webkit-linear-gradient(
    left,
    #ffffff,
    #f0f9ff,
    #f0f9ff,
    #f0f9ff,
    #ffffff
  ); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(
    right,
    #ffffff,
    #f0f9ff,
    #f0f9ff,
    #f0f9ff,
    #ffffff
  ); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(
    right,
    #ffffff,
    #f0f9ff,
    #f0f9ff,
    #f0f9ff,
    #ffffff
  ); /* Firefox 3.6 - 15 */
  background: linear-gradient(
    to right,
    #ffffff,
    #f0f9ff,
    #f0f9ff,
    #f0f9ff,
    #ffffff
  );
}

.bg-linear {
  background-color: #f0f9ff;
}
.bg-linear {
  background-color: transparent;
}

.display-only-mobile{
  display: none;
}

@media (max-width: 800px) {
    .display-block {
      display: block;
    }
    .display-none {
      display: none;
    }
    .display-only-mobile{
      display: block;
    }
}
  